body {
    background-color: rgb(251, 218, 187);
}

#header {
    font-size: 50px;
    padding: 0px 0px 8px 0px;
    text-align: center;
}

#divContainer {
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 3px 3px;
    margin: auto;
    text-align: center;
}

.gridColumn {
    display: inline-block;
}

.gridCell {
    width: 25px;
    height: 25px;
    border-color: black;
    border-style: solid;
    border-width: 3px 3px 0px 0px;
}

.gridCell:hover {
    background-color: cyan;
}

#dimensionEntry {
    padding: 16px 0px 0px 0px;
    text-align: center;
    justify-content: center;
}
