#divContainer {
    margin: auto;
    text-align: center;
}

.gridRow {
    display: inline-block;
}

.gridCell {
    width: 25px;
    height: 25px;
    border-color: black;
    border-style: solid;
}

.gridCell:hover {
    background-color: cyan;
}